.footer .bottomfooter{
    direction: rtl;
}
.footer .bottomfooter span{
   float: right
}
.footer .bottomfooter ul{
    text-align: right
}
.footer .topfooter .email h5{
    float: right
}

.footer .topfooter .call h5{
    float: right
}

.footer .topfooter .addres h5{
    float: right;
    text-align: right;
}
.footer .topfooter .addres p{
    float: right;
    text-align: right;
    width: 100%;
}
.blog .blogbox{
    text-align:  justify;
    direction: rtl;
}
.blog .blogbox{
 
    direction: rtl;
}
.timeline p{
    direction: rtl
}
.footer .topfooter .email h6{
   float: right;
   clear: both;
   
}
.footer .topfooter .call h6{
    float: right;
    clear: both;
}
body{
    font-family: sans;
    
}
.main-timeline9 .year {
  
    direction: rtl;
}
.form-control {
   
    direction: rtl;
}
.blogs_sec .right_text a{
    direction: rtl
}
.side{
    direction: rtl;
    text-align: right;
}
.side h1{
text-align: right;
}
.side .sidebar .blogimg img{
    float: right;
}    
.breadcrumbblog .breadcrumb {
    direction: rtl;
}
